.footer {
    background-color: $light_dark;
    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 80px 0;

        @include media('<=desktop') {
            flex-wrap: wrap;
            align-items: center;
        }

        &-left {
            display: flex;

            &__contacts {
                margin-right: 150px;
                @include media('<=desktop') {
                    margin-right: 90px;
                }
            }
        
            &__information {
                margin-right: 60px;
            }
    
            &__contacts, &__information {
                display: flex;
                flex-direction: column;
    
                &__title {
                    font-family: $roboto-slab;
                    font-size: 10px;
                    color: $white;
                    font-weight: normal;
                    margin-bottom: 24px;
    
                    @include media('<=desktop') {
                        font-size: 12px;
                    }
                }
    
                & > a {
                    font-family: $arial;
                    font-size: 14px;
                    color: $white;
                    font-weight: normal;
                    margin-bottom: 14px;
                    text-decoration: none;
                    white-space: nowrap;
                }
            }
    
            &__surbscribe {
                display: flex;
                flex-direction: column;
                
                @include media('<=desktop') {
                    max-width: 360px;
                    margin-bottom: 24px;
                }

                &__title {
                    font-family: $arial;
                    font-size: 14px;
                    font-weight: bold;
                    color: $white;
                    margin-bottom: 24px;
                }
    
                .footer-subscribe-form {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 25px;
    
                    &__input-text {
                        font-family: $arial;
                        font-size: 14px;
                        margin-right: 14px;
                        padding: 12px 0 12px 20px;
                        background-color: $light_dark;
                        border-color: $light_blue;
                        border-radius: 5px;
                        color: $white;
                        
                        &::placeholder {
                            color: $white;
                            font-family: $arial;
                            font-size: 14px;
                        }
                    } 
    
                    &__input-submit {
                        background-color: $white;
                        color: $black;
                        font-family: $arial;
                        font-size: 14px;
                        padding: 12px 18px;
                        border-radius: 5px;
                        border: 0;
                    }
                }
    
                &__hint {
                    color: $white;
                    line-height: 16px;
                    width: 80%;
                }
            }
        }
        &-right {
            &__donate {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $red;
                padding: 40px 25px;
                border-radius: 5px;
    
                &__title {
                    font-size: 40px;
                    font-weight: bold;
                    font-family: $arial;
                    color: $white;
                    margin-right: 20px;
                    white-space: nowrap;
                }
    
                .donate-form {
                    &__button {
                        color: $black;
                        font-size: 20px;
                        font-weight: bold;
                        font-family: $arial;
                        padding: 11px 20px;
                        border-radius: 5px;
                        white-space: nowrap;
                        border: 0;
                    }
                }
            }
        }
    }
}
