#site {
    display: grid;
grid-template-columns: 1fr 1.5fr 1fr;
grid-template-rows: 1fr 1fr 2fr;
}
#info {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
#navbarchik {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-column-start: 2; 
color:white;
background-color: purple;

}
#photo {
    display: grid;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-column-start: 1; 
    grid-row-end: 3;
background-image: url( 'WIN_20200328_08_19_15_Pro (1).jpg');

}
h1 {
    font-size: 3em;
font-family: sans-serif;
}
#photo2 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-start: 3; 
background-image: url( 'WIN_20200328_08_19_15_Pro (1).jpg');
}
#life {

    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4; 
color:blue;
background-color: yellow;


}
#personal {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3; 
color:red;
background-color: yellow;

}